[buildout]
develop = .
parts = test
newest = false
extensions = buildout.dumppickedversions
find-links = http://pypi.dolmen-project.org/find-links
include-site-packages = false
exec-sitecustomize = false

[test]
recipe = zc.recipe.testrunner
eggs = dolmen.forms.base [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c',
	    '--udiff', '--package=dolmen.forms.base']
